
body{
    /* background-color: black; */
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230711/pngtree-d-render-blue-podium-display-for-assorted-products-in-a-blue-image_3833920.jpg');
    background-size: cover;
}


.parent{
    
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.child{
    border: 2px solid rgba(2, 248, 223, 0.3);
    width: 400px;
    height:400px;
    display: flex;
    justify-content: center;
    box-shadow: 14px 1px 50px 15px rgba(12, 219, 198, 0.962)

    
}


.child:hover{
    box-shadow: -53px 2px 34px rgba(247, 247, 247, 0.3);
}
.div2{
     

    
    margin-top: 70px;
    width: 100px;
    height: 100px;
    
    border-radius: 48px;
    
    box-shadow: 14px 1px 50px 15px rgba(12, 219, 198, 0.962)
    

}

.div2:hover{

    box-shadow: 48px 8px 34px rgba(207, 95, 1, 0.3);

}

.flow{
    display: inline-block;
    margin-left:30px;
    text-align: center;
   

  
}
p{
    text-align: center;
    text-shadow: -3px -2px 34px rgba(145, 150, 172, 0.4);
    color: #000000;
}
.flow1{
    
    border: 2px solid rgba(4, 250, 225, 0.3);
    width: 400px;
    height:400px;
    align-items: center;
    box-shadow: 14px 1px 50px 15px rgba(12, 219, 198, 0.962)
}

.flow1:hover{
    box-shadow: 48px 8px 34px rgba(207, 95, 1, 0.3);
}



h2,h3{
    text-align: center;
    text-shadow: -3px -2px 34px rgba(145, 150, 172, 0.4);
    color: #000000;
}
.h3{
    display: flex;
    justify-content: center;
    text-shadow: -3px -2px 34px rgba(145, 150, 172, 0.4);
    color: #000000;
    
}
.p{
    border: 2pxrgba(12, 219, 198, 0.3);
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 0px;
    text-shadow: -3px -2px 34px rgba(145, 150, 172, 0.4);
    color: #000000;
}

.con{
    display: flex;
    justify-content: center;
}



.container{
  
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: center;
    
}
h1{
    text-align: center;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
}

