
select{
    width: 415px;
    height: 45px;
    border-radius: 10px;
    border-color: rgb(0, 255, 34);
    margin-top: 5px;
    padding-left:10px ;
}


div{
    display: inline-block;
    padding: 10px;
}
input{
    width: 400px ;
    height: 45px ;
    border-radius: 10px;
    border-color: rgb(0, 255, 34);
    margin-top: 5px;
    padding-left:10px ;
   
}
#Address{
    width: 410px;
}
.div{
    display: flex;
    justify-content: center;
    /* border: 2px solid black ; */
}

.form-control{
    width: 600px !important;
}

input:hover ,
select:hover,
.input-div:hover
{
    border-color: cornflowerblue;
}
label ,option {
    font-size: larger;
}





.input-div {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(1, 252, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 0px 0px 100px rgb(1, 252, 55) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255); */
    animation: flicker 2s linear infinite;
  }
  
  .icon {
    color: rgb(1, 252, 43);
    font-size: 2rem;
    cursor: pointer;
    /* animation: iconflicker 2s linear infinite; */
  }
  
  .input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
  }
  
  
  
 